.collins 
{   color: navy
}

* {
    /* maybe come back and delete */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header
{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2a607c;
    color: white;
}




ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #111111;
}

.container 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px black;
}

.column 
{
    display: flex;
    flex-direction: column;
}

.row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-header 
{
    display: inline-flex;
}

.body-content 
{
    float:right;
    border-left: 3px solid blue;
}

/*media query added from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (max-width: 600px) 
{
    body {
    background-color: lightblue;
    }
}