/*
.collins 
{   
    color: navy
}
*/


* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
.header
{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2a607c;
    color: white;
}
*/ 

/*navbar*/
.navbar
{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    position: sticky;
    top: 0; 
}

.navbar ul
{
    display:flex

}
.navbar ul li
{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.1rem;
}   

.navbar li a 
{
    padding: 8px 25px;
    color: white;
    text-decoration: none;
    transition: all .5s ease;
}

.navbar ul li a:hover 
{
    background-color: white;
    color: black;  
    box-shadow: 0 0 10px white;

}

/* Home Section */
#home
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5)
}

#home::before
{
content: "";
position: absolute;
top: 0;
right: 0;
background-image: url("images/image1.jpg");
background: beige;
height: 900px;
width: 100%;
z-index: -1;
opacity: .8;
}







.container 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px black;
}

.column 
{
    display: flex;
    flex-direction: column;
}

.row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-header 
{
    display: inline-flex;
}

.body-content 
{
    float:right;
    border-left: 3px solid blue;
}

/*media query added from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (max-width: 600px) 
{
    body {
    background-color: lightblue;
    }
}